html, body{
  font-family: "Helvetica Neue", "Arial",sans-serif;
  background-color: darkgreen;
  padding:10%;
  text-align: center;
  margin:;
}
p{
  color: black;text-align: center;margin:10px 10px;
}
h1{
  color: darkgrey;text-align: center;
}
ul li {
  list-style-type: none;
  display: inline;
}
.emphasis {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
#map {
  width: 800px;
  height: 450px;
  background-color: white;

}
